.switch-mode {
  display: flex;
  max-width: 248px;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  background-color: #F3F4F6;
  border-radius: 6px;
  align-self: flex-end;
}

svg.active {
  color: #5D5FEF;
}